<%- include('../partials/nav.ejs') %>
<a href="/checklists/<%= checklist._id %>">&lAarr; Back </a>
<h1>Edit <%= checklist.title %></h1>

<form action="/checklists/<%= checklist._id %>?_method=PUT" method="post">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" value="<%= checklist.title %>" placeholder="Walk the dog">

    <label for="note">Note: </label>
    <input type="textarea" name="note" id="note">
    
    <label for="completed">Completed</label>
    <input type="checkbox" name="completed" id="completed" <%= checklist.completed ? "checked" : "" %>>
    
    <button type="submit">Submit Checklist</button>
</form>
</body>
</html>